.serverCard{
	-fx-fill: #3E3E3E;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20, 0, 11, 8);
	-fx-arc-height: 30px;
	-fx-arc-width: 30px;
}

.gestionButton{
	-fx-background-color: #0066FF;
	-fx-background-radius: 0 0 15px 15px;
}
